<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877548370261-b9h34ompvgcr74ul7vftmi5slhi7j09o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877548370261-b9h34ompvgcr74ul7vftmi5slhi7j09o</string>
	<key>API_KEY</key>
	<string>AIzaSyCBTNeDc1Xu28UUDbmtmohx909LHy8d1UY</string>
	<key>GCM_SENDER_ID</key>
	<string>877548370261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-app-4ed0e</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-app-4ed0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877548370261:ios:f8258f7b115bfcccb997dc</string>
</dict>
</plist>